body {
  display: flex;
  justify-content: center;
}

.App {
  margin: 10px;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App input {
  font-size: 15px;
  border-radius: 50px;
  height: 25px;
  width: 260px;
  padding: 0px 15px 0px 15px;
  border: 2px solid #a5a5a5;
}

.App input:focus {
  outline-style: none;
  border: 2px solid #418dff;
}

.App input::placeholder {
  font-size: 15px;
}

.App h2 {
  color: #418dff;
}